.early-access {
  padding: 3.5rem 0;
  color: $lightGrayishBlue;
  background: $desaturatedBlue;

  @include breakpoint-up(large) {
    padding: 4.5rem 0;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 1.25rem 0;

    @include breakpoint-up(large) {
      grid-template-columns: 1fr 0.7fr;
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      text-align: left;
    }

    h1 {
      font-size: 1.15rem;
      margin-bottom: 0.75rem;

      @include breakpoint-up(large) {
        font-size: 1.875rem;
        margin-bottom: 1rem;
      }
    }

    p {
      width: auto;
      line-height: 1.75;
      font-size: 0.875rem;

      @include breakpoint-up(large) {
        width: 70%;
        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }

  &__form {
    width: 90%;
    margin: auto;
    position: relative;
    grid-template-columns: 1fr;
    row-gap: 1rem;

    @include breakpoint-up(large) {
      width: 100%;
    }

    input {
      padding: 0.725rem 1.15rem;
    }

    .error {
      color: $lightGrayishBlue;
    }

    .button {
      place-self: inherit;
      padding: 0.85rem 2rem;

      @include breakpoint-up(large) {
        place-self: baseline;
      }
    }
  }
}
