.footer {
  padding: 4rem 1rem;
  color: $lightGrayishBlue;
  background: $veryDarkBlue;

  @include breakpoint-up(large) {
    padding: 6rem 0 4rem;
  }

  &__logo {
    width: 10.25rem;
    margin-bottom: 1.5rem;
  }

  &__content {
    grid-template-columns: 1fr;
    row-gap: 3rem;

    @include breakpoint-up(large) {
      grid-template-columns: 1.6fr 1fr 1fr 1fr;
    }
  }

  &__desc {
    &:first-child {
      margin-bottom: 0.75rem;
    }

    img {
      width: 1rem;
      margin-right: 0.75rem;

      @include breakpoint-up(large) {
        width: auto;
      }
    }
  }

  &__links {
    align-items: baseline;
    flex-direction: column;

    a {
      color: $lightGrayishBlue;
      transition: all 300ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &:hover {
        color: $brightBlue;
      }
    }
  }

  &__social {
    align-items: center;
    justify-content: center;

    @include breakpoint-up(large) {
      align-items: baseline;
      justify-content: flex-start;
    }

    a {
      i {
        display: flex;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        color: $lightGrayishBlue;
        border: 1px solid $lightGrayishBlue;
        transition: all 300ms ease-in-out;

        &:hover {
          color: $brightBlue;
          border: 1px solid $brightBlue;
        }
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .attribution {
    margin-top: 3.5rem;
    text-align: center;
    font-size: 0.875rem;

    a {
      color: $lightGrayishBlue;
    }
  }
}
