html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $openSans;
}

h1,
h2,
h3 {
  font-family: $raleway;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 78rem;
  padding-left: 1.45rem;
  padding-right: 1.45rem;
}

// Flexbox
.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }
}

// Grid
.grid {
  display: grid;

  &-ai-c {
    align-items: center;
  }
}
