html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  color: $veryDarkBlue;
  font-family: $openSans;
}

h1,
h2,
h3 {
  font-family: $raleway;
}

a {
  text-decoration: none;
}

input {
  outline: 0;
  font-family: inherit;
  border-radius: 0.15rem;
  padding: 0.6875rem 1.15rem;
  border: 1px solid #767676;

  &.invalid {
    margin-bottom: 0;
    border: 1px solid $lightRed;

    @include breakpoint-up(large) {
      margin-bottom: 1.25rem;
    }
  }

  &::placeholder {
    color: $lightGray;
  }
}

.error {
  display: none;
  text-align: left;
  position: initial;
  margin: 0 !important;
  font-size: 0.85rem !important;

  @include breakpoint-up(large) {
    position: absolute;
    top: 3rem;
  }
}

button,
.button {
  outline: 0;
  cursor: pointer;
  font-weight: 700;
  position: relative;
  border: transparent;
  font-size: 0.875rem;
  font-family: $raleway;
  letter-spacing: 0.5px;
  border-radius: 0.15rem;
  padding: 0.825rem 1rem;
  background: $brightBlue;
  color: $lightGrayishBlue;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 0.15rem;
    transition: opacity 150ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.25);
  }

  &:hover::before {
    opacity: 1;
  }
}

.container {
  margin: 0 auto;
  max-width: 78rem;
  padding-left: 1.45rem;
  padding-right: 1.45rem;
}

// Flexbox
.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }
}

// Grid
.grid {
  display: grid;

  &-ai-c {
    align-items: center;
  }
}

// Visibility

.hide-for-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(medium) {
    display: none;
  }
}
